/.idea

/docker/mongodb/mongodb_db_files/
/docker/mysql/mysql_db_files/
/docker/postgres/postgres_db_files/

/client/node_modules/
/client/node_modules/.package-lock.json
/client/chat-vue/dist/
/client/chat-vue/node_modules/
/client/chat-vue/node_modules/.package-lock.json
/client/chat-react/dist
/client/chat-react/node_modules/
/client/chat-react/node_modules/.package-lock.json
/client/auth-react/dist
/client/auth-react/node_modules/
/client/auth-react/node_modules/.package-lock.json
/client/auth-vue/dist/
/client/auth-vue/node_modules/
/client/auth-vue/node_modules/.package-lock.json


/server/node_modules/
/server/node_modules/.package-lock.json
/server/node/node_modules/
/server/node/node_modules/.package-lock.json
/server/chat-ws/node_modules/
/server/chat-ws/node_modules/.package-lock.json
/server/auth-api/node_modules/
/server/auth-api/node_modules/.package-lock.json
